html
.header {
    display: block;
    border-style: solid;
    border-radius: 15px;
    position: static;
    background-color: #585858 ;
    width: 100%;
    height: 100%;
    color: #880000;
    text-align:center;
    font-size: 35px;
}
.content {
    display: inline;
    border-style: solid;
    border-radius: 15px;
    position: static;
    background-color:orange;
    border-style: solid;
    height: 400px;
    width: 100%;
    float:left;
    text-align:center;
    font-size: 60px;
    }
 #container {
    display: none;
    border-style: solid;
    border-radius: 15px;
    position: static;
    background-color: orange;
    border-style: solid;
    height: auto;
    width: 100%;
    font-size: 60px;
 }       
#hid {
    display: block;
    border-style: solid;
    border-radius: 15px;
    position: absolute;
    background-color:orange;
    border-style: solid;
    height: auto;
    width: 100%;
    float:left;
    text-align:center;
    font-size: 26px;
    display: none;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


